# Installing MySQL Connector

In [1]:
!python -m pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\python3.7.4\lib\site-packages (8.0.32)
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp37-cp37m-win_amd64.whl (905 kB)
     ------------------------------------ 905.1/905.1 kB 370.1 kB/s eta 0:00:00
Installing collected packages: protobuf
Successfully installed protobuf-3.20.3

In [3]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin"
)

print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000000009ADB208>

# Creating A Database

In [5]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin"
)

new_cursor = new_db.cursor()

new_cursor.execute("CREATE DATABASE newData")

# Check if a database exists

In [6]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin"
)

new_cursor = new_db.cursor()

new_cursor.execute("SHOW DATABASES")

for n in new_cursor:
    print(n)

('information_schema',)
('mysql',)
('newdata',)
('performance_schema',)
('sys',)
('test',)

In [7]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

# Creating Tables and Showing Data

In [9]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("CREATE TABLE students (name VARCHAR(255), code VARCHAR(255))")

# List all tables in newdata database

In [10]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("SHOW TABLES")

for x in new_cursor:
    print(x)

('students',)

# Add PRIMARY KEY when creating table

In [11]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("CREATE TABLE clients (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), code VARCHAR(255))")

# Add PRIMARY KEY if table already exists

In [12]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("ALTER TABLE students ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

# Inserting data into tables

In [13]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"
new_vals = ("Ronaldo", "CODE12")

new_cursor.execute(new_sql, new_vals)

new_db.commit()

print(new_cursor.rowcount, "new record inserted")

1 new record inserted

# Inserting many records into tables

In [14]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"
new_vals = [
    ("Messi", "CODE30"),
    ("Pogba", "CODE06"),
    ("SALAH", "CODE11"),
    ("Someone", "CODE110")
]

new_cursor.executemany(new_sql, new_vals)

new_db.commit()

print(new_cursor.rowcount, "records inserted")

4 records inserted

# Select Table's data

In [15]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students")

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Ronaldo', 'CODE12', 1)
('Messi', 'CODE30', 2)
('Pogba', 'CODE06', 3)
('SALAH', 'CODE11', 4)
('Someone', 'CODE110', 5)

# Select data from columns

In [16]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("SELECT name FROM students")

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Ronaldo',)
('Messi',)
('Pogba',)
('SALAH',)
('Someone',)

In [17]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students")

new_data = new_cursor.fetchone()

print(new_data)

('Ronaldo', 'CODE12', 1)

# Filter the result

In [18]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "SELECT * FROM students WHERE code = 'CODE06'"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Pogba', 'CODE06', 3)

In [19]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "SELECT * FROM students WHERE name LIKE '%Pogba%'"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Pogba', 'CODE06', 3)

# Sorting results

In [20]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "SELECT * FROM students ORDER BY code DESC"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Messi', 'CODE30', 2)
('Ronaldo', 'CODE12', 1)
('Someone', 'CODE110', 5)
('SALAH', 'CODE11', 4)
('Pogba', 'CODE06', 3)

# Deleting records

In [21]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "DELETE FROM students WHERE name = %s"
name = ("Messi",)

new_cursor.execute(new_sql, name)

new_db.commit()

print(new_cursor.rowcount, "records deleted from students from newdata")

1 records deleted from students from newdata

# Deleting table

In [22]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "DROP TABLE IF EXISTS clients"

new_cursor.execute(new_sql)

# Updating table

In [24]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "UPDATE students SET code = %s WHERE code = %s"
new_vals = ("CODE12", "CODE07")

new_cursor.execute(new_sql, new_vals)

new_db.commit()

print(new_cursor.rowcount, "records changed in students table!")

0 records changed in students table!

# Limit the records

In [25]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "admin",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "SELECT * FROM students LIMIT 4 OFFSET 5"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)