In [1]:
import sqlite3
new_connection = sqlite3.connect("data_testing.db")

In [2]:
type(new_connection)

sqlite3.Connection

In [4]:
print(type(new_connection))

<class 'sqlite3.Connection'>

In [5]:
new_cursor = new_connection.cursor()
print(type(new_cursor))

<class 'sqlite3.Cursor'>

In [7]:
new_sql = "SELECT datetime('now', 'localtime');"

In [8]:
new_cursor.execute(new_sql)

In [9]:
new_cursor.fetchone()

('2023-03-15 12:06:11',)

In [10]:
new_dtime = new_cursor.execute(new_sql).fetchone()[0]

In [11]:
print(new_dtime)

2023-03-15 12:06:26

In [12]:
new_connection.close()

In [14]:
with sqlite3.connect("data_testing.db") as new_connection:
    new_cursor = new_connection.cursor()
    new_sql = "SELECT datetime('now', 'localtime');"
    new_dtime = new_cursor.execute(new_sql).fetchone()[0]

In [15]:
print(new_dtime)

2023-03-15 12:07:06

# Create table with values

In [21]:
import sqlite3

new_connection = sqlite3.connect("data_testing.db")
new_cursor = new_connection.cursor()

new_cursor.execute("CREATE TABLE clients(Name TEXT, Number INT);")

new_cursor.execute("INSERT INTO clients VALUES('Dany', 2030)")

new_connection.commit()
new_connection.close()

In [17]:
new_connection = sqlite3.connect("data_testing.db")
new_cursor = new_connection.cursor()

new_cursor.execute("SELECT * FROM clients;")

In [18]:
new_cursor.fetchone()

('Ronaldo', 7)

In [19]:
new_cursor.execute("DROP TABLE clients;")

In [20]:
new_connection.commit()
new_connection.close()

# Full Program to fetch all data from data_testing

In [22]:
import sqlite3

new_values = (
    ("Ronaldo", 7),
    ("Messi", 30),
    ("Salah", 11),
)

with sqlite3.connect("data_testing.db") as new_connection:
    new_cursor = new_connection.cursor()
    new_cursor.execute("DROP TABLE IF EXISTS clients")
    new_cursor.execute("CREATE TABLE clients(Name TEXT, Number INT);")
    
    new_cursor.executemany("INSERT INTO clients VALUES(?, ?)", new_values)
    
    new_cursor.execute("SELECT Name, Number FROM clients WHERE Number > 7;")
    
    for x in new_cursor.fetchall():
        print(x)

('Messi', 30)
('Salah', 11)