In [24]:
import pandas as pd

In [25]:
a=[1,7,2]

In [26]:
myvar=pd.Series(a)

In [27]:
print(myvar)

0    1
1    7
2    2
dtype: int64

In [28]:
sample={"day1":420,"day2":380,"day3":390}

In [29]:
myvar=pd.Series(sample)

In [30]:
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [31]:
data={
    "calories":[420,3880,390],
    "duration":[50,40,45]
}

In [32]:
df=pd.DataFrame(data)

In [33]:
print(df)

   calories  duration
0       420        50
1      3880        40
2       390        45

In [34]:
sampleData={
    "weekdays":["Monday","Tuesday","Friday"],
    "testsore":[10,20,30]
}

In [35]:
df=pd.DataFrame(sampleData)

In [36]:
df

  weekdays  testsore
0   Monday        10
1  Tuesday        20
2   Friday        30

In [37]:
df.loc[0]

weekdays    Monday
testsore        10
Name: 0, dtype: object

In [38]:
df.head(1)

  weekdays  testsore
0   Monday        10

In [39]:
df=pd.read_csv(r'E:\vsprojects\from internet\Samples\Genetic\Approximation\Data Samples\sample1.csv')

In [40]:
print(df)

   1   1.1
0  2   1.5
1  3   2.5
2  4   4.0
3  5   6.0
4  6   8.5
5  7  11.5
6  8  15.0

In [41]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       7 non-null      int64
 1   1.1     7 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 240.0 bytes
None

In [42]:
df.describe()

              1        1.1
count  7.000000   7.000000
mean   5.000000   7.000000
std    2.160247   4.949747
min    2.000000   1.500000
25%    3.500000   3.250000
50%    5.000000   6.000000
75%    6.500000  10.000000
max    8.000000  15.000000

In [44]:
df.corr()

            1       1.1
1    1.000000  0.981981
1.1  0.981981  1.000000